   
body{
     background-color:#bfa1c9;
    }
.box1{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.box2{
    display: flex;
    justify-content: space-around;
}
.box3{
    display: flex;
    justify-content: space-around;
}
.card-items{
    border:2px solid black;
    background-color: white;
    height: 240px; 
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #ccc;
    display: inline-block;
    cursor: pointer;
}

.head-container{
    text-align: center;
    color: black;
    font-family: 'Pacifico', cursive;
}

.img-container{
    width: 100%;
    position: relative;
    height: 100%;
}
.description-heading{
    text-align: center;
    align-items: center;
}

