   
body{
     background-color:#bfa1c9;
    }
.box1{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.box2{
    display: flex;
    justify-content: space-around;
}
.box3{
    display: flex;
    justify-content: space-around;
}
.card-items{
    border:none;
    height: 240px; 
    width: 330px;
    margin:  30px;
    display: inline-block;
    cursor: pointer;
}
 
.head-container{ 
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.img-container{
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 20px;
}
.img-container:hover{
    width: 100%;
    position: relative;
    height: 100%;
    border-radius:30px ;
    transition: 0.5;
    box-shadow: #9733EE 0.5px 1px 2px 1px;
}
.description-heading{
    text-align: center;
    align-items: center;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.button-container{
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}
.des-heading{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    /* margin: 10px; */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 19px;
    font-size: 20px;


}
.des-heading:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}
.description-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18PX;
}
.contents{
    font-size: 20px;
    margin-top: 10px;
    color: #9733EE;
    font-weight: bold;
}
