   
        body{
            background-color:#bfa1c9;
        }
.heading{
    height:50px;
    width: 220px;
    color: black;
    height: 100px;
    text-align: right;
    justify-content:left;
}

.text{
    font-size: xx-large
    
}
.box1{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.box2{
    display: flex;
    justify-content: space-around;
}
.box3{
    display: flex;
    justify-content: space-around;
}
.wedding-card{
    border:2px solid black;
    background-color: white;
    height: 250px; 
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #ccc;
    display: inline-block;

}
.Birthday-card{
    border:2px solid black;
    background-color: white;
    height: 250px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display: inline-block;
}

.office-party{
    border:2px solid black;
    background-color:white;
    height: 250px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display: inline-block;
}

.Surprise-Event{
    border:2px solid black;
    background-color: white;
    height: 250px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display: inline-block;

}
.Award-ceremonies{
    border:2px solid black;
    background-color: white;
    height: 250px;
    width: 350px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    

}
.Charity-donation-event{
    border:2px solid black;
    background-color: white;
    height: 250px;
    width: 350px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display:inline-block;

    
}
.college-event{
    border:2px solid black;
    background-color:white;
    height: 250px;
    width: 350px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display: inline-block;
}
.workshop-Event{
    border:2px solid black;
    background-color:white;
    height: 250px;
    width: 350px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ccc;
    display: inline-block;
}

.heading1{
color:black;  
}
.heading2{
color: black;
}
.heading3{
    color: black;
}
.heading4{
color: black;
}
.head-container{
    text-align: center;
    color: black;
}